################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SolucionCB_Exceptional/v15/Server/sqlite3
