################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SolucionCB_Exceptional/v15/Server/sqlite3
/.vs/SolucionCB_Exceptional/CopilotIndices/17.13.431.34963
/.vs/SolucionCB_Exceptional/FileContentIndex
/.vs/SolucionCB_Exceptional/v17
/Locker/bin
/SeguridadCB/bin
